{% extends 'models/base.html' %}
    
    {% block content %}
        <header>
            <h1>Drivers</h1>
        </header>
        
        {% for driver in drivers %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;" alt="Card image cap">
            <h5 class="card-title">{{driver.number}} -- {{driver.code}} -- {{ driver.forename }} {{driver.surname}}</h5>
            <div class="card-body">
              <p class="card-text">Nationality: {{driver.nationality}}</p>
              <p class="card-text">Date of Birth: {{ driver.dob }}</p>
            </div>
          </div>
        {% endfor %}
    {% endblock %}